COMPOSE_PROJECT_NAME=opsqueue
WEB_PORT=8080

DB_NAME=ops_queue
DB_ROOT_PASSWORD=replace-this-root-password
DB_RUNTIME_USER=ops_runtime
DB_RUNTIME_PASSWORD=replace-this-runtime-password

JWT_SIGNING_KEY=replace-with-at-least-32-random-characters
JWT_COOKIE_SECURE=false

BOOTSTRAP_LEADER_USERNAME=leader
BOOTSTRAP_LEADER_DISPLAY_NAME=运维组长
BOOTSTRAP_LEADER_PASSWORD=replace-this-initial-leader-password
